---
import config from "@/config/config.json";
import ProjectCard from "@/components/ProjectCard.astro";
import ProjectCategories from "@/components/ProjectCategories.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";

const { projects_folder } = config.settings;

const { slug } = Astro.params;
const projectsIndex = await getEntry(projects_folder, "-index");
const projects = await getSinglePage(projects_folder);
const sortedProjects = sortByDate(projects);
const totalPages = Math.ceil(projects.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentProjects = sortedProjects.slice(indexOfFirstPost, indexOfLastPost);

export async function getStaticPaths() {
  const config = await import('@/config/config.json');
  const { projects_folder } = config.settings;
  const items = await getSinglePage(projects_folder);
  const totalPages = Math.ceil(items.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  title={projectsIndex.data.title}
  meta_title={projectsIndex.data.meta_title}
  image={projectsIndex.data.image}
  description={projectsIndex.data.description}
>
  <section class="section pt-6 md:pt-14">
    <ProjectCategories />

    <!-- Projects -->
    <div class="container pt-6 md:pt-14">
      <div class="row">
        {
          currentProjects.map((item, index) => (
            <div class="mb-14 md:col-6 lg:col-4" key={index}>
              <ProjectCard data={item} loading={index < 6 ? "eager" : "lazy"} />
            </div>
          ))
        }
      </div>
      <Pagination
        section={projects_folder}
        currentPage={currentPage}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
