---
import config from "@/config/config.json";
import { humanize, slugify } from "@/lib/utils/textConverter";
import dateFormat from "@/lib/utils/dateFormat";
import ImageMod from "./ImageMod.astro";
import { FaRegClock, FaFolder } from "react-icons/fa";
import { categoryMetadata } from "@/lib/categoryMetadata";

const { blog_folder } = config.settings;
const { data, loading } = Astro.props;
const { title, image, image_dark, date, category } = data.data;

const metadata = categoryMetadata[category] || { name: humanize(category) };
---

<div class="bg-body dark:bg-darkmode-body">
  <a href={`/${blog_folder}/${data.slug}`}>
    {
      image && (
        <>
          <ImageMod
            src={image}
            class={`mb-6 w-full rounded ${image_dark ? 'dark:hidden' : ''}`}
            width={480}
            height={360}
            alt={title}
            format="webp"
            loading={loading}
          />
          {image_dark && (
            <ImageMod
              src={image_dark}
              class={`mb-6 w-full rounded hidden dark:inline-block`}
              width={480}
              height={360}
              alt={title}
              format="webp"
              loading="lazy-preload"
            />
          )}
        </>
      )
    }
    <h4 class="mb-3 hover:text-primary dark:hover:text-darkmode-primary">
      {title}
    </h4>
  </a>
  <ul class="flex flex-wrap items-center mb-4">
    <li class="mb-4 mr-4 inline-flex items-center">
      <FaRegClock className="mr-1 -mt-1 inline-block" />
      {dateFormat(date)}
    </li>
    <li class="mb-4 mr-4 inline-flex items-center">
      <FaFolder className="md:ml-4 mr-2 -mt-1 inline-block" />
      <a
        class={`inline-block px-2 py-1 bg-theme-light hover:bg-primary hover:text-white dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark`}
        href={`/categories/${slugify(category)}`}
      >
        {metadata.name}
      </a>
    </li>
  </ul>
</div>
