---
import config from "@/config/config.json";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";

const { projects_folder } = config.settings;

const allCategories = await getAllTaxonomy(projects_folder, "categories");
const categories = await getTaxonomy(projects_folder, "categories");
---

<div class="text-center">
<ul>
  <li class="m-2 md:m-3 inline-block">
    <a
      href={`/${projects_folder}`}
      class="rounded bg-theme-light px-2 md:px-4 py-1 md:py-2 md:text-lg text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark hover:bg-primary hover:text-white dark:hover:bg-darkmode-primary dark:hover:text-dark"
    >
      Tots
      <span class="md:ml-2 rounded">
        ({allCategories.length})
      </span>
    </a>
  </li>
  {
    categories.map((category: string) => {
      const count = allCategories.filter((c) => c === category).length;
      return (
        <li class="m-2 md:m-3 inline-block">
          <a
            href={`/categories/${category}`}
            class="rounded bg-theme-light px-2 md:px-4 py-1 md:py-2 md:text-lg text-dark dark:bg-darkmode-theme-light dark:text-darkmode-dark hover:bg-primary hover:text-white dark:hover:bg-darkmode-primary dark:hover:text-dark"
          >
            {humanize(category)}{" "}
            <span class="md:ml-2 rounded">
              ({count})
            </span>
          </a>
        </li>
      );
    })
  }
</ul>
</div>