---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, imageAlt } = about.data;

import { Image } from 'astro:assets';
const aboutImage = "/images/me_cnn.jpg";
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <div class="parallax bg-cover bg-center min-h-screen flex items-center justify-center" style={`background-image: url(${aboutImage})`}>
    <h1 class="text-white text-center text-4xl md:text-6xl">{markdownify(title)}</h1>
  </div>

  <section class="section pt-14 pb-14">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
          
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>

<style>
  /* Parallax effect */
  .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .parallax {
      background-attachment: scroll;
      min-height: 400px; /* Adjust as needed */
    }
  }
</style>
