---
import Base from "@/layouts/Base.astro";
import Parallax from "@/components/Parallax.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, imageAlt } = about.data;

import { Image } from 'astro:assets';
const aboutImage = "/images/me_cnn.jpg";
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <Parallax 
    parallaxImage={aboutImage}
  >
    <h1 class="text-white dark:text-darkmode-primary text-center text-4xl md:text-6xl">{markdownify(title)}</h1>
  </Parallax>

  <section class="section pt-14 pb-14">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
          
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
