---
import Base from "@/layouts/Base.astro";
import Parallax from "@/components/Parallax.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, info } = about.data;

import { Image } from 'astro:assets';
import meImage from '../images/me.png';
const aboutImage = "/images/me_cnn.jpg";
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <Parallax 
    parallaxImage={aboutImage}
  >
    <h1 class="text-white dark:text-darkmode-primary text-center text-4xl md:text-6xl">{markdownify(title)}</h1>
  </Parallax>

  <!-- Info -->
  <section class="section-sm bg-gradient">
    <div class="container">
      <div class="row items-center justify-between">
        <div class="mb-6 md:col-7 lg:col-6 md:order-2">
          <h2 set:html={markdownify(info.title)} class="mb-4" />
          <p set:html={markdownify(info.content)} class="mb-8 text-lg" />
        </div>
        <div class="mb:md-0 mb-6 md:col-5 md:order-1">
          <Image
            src={meImage}
            alt={info.imageAlt}
            widths={[180, 360, 600, 800, meImage.width]}
            sizes={`(max-width: 360px) 180px, (max-width: 720px) 360px, (max-width: 1200px) 600px, (max-width: 1600px) 800px, ${meImage.width}px`}
            loading="lazy"
            class="rounded"
          />
        </div>
      </div>
    </div>
  </section>

  <Content />
</Base>
