---
import config from "@/config/config.json";
import BlogCard from "@/components/BlogCard.astro";
import Share from "@/components/Share.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { FaRegClock, FaRegFolder, FaTag, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./components/ImageMod.astro";

const { blog_folder, similar_items_length } = config.settings;
const { post } = Astro.props;

const posts = await getSinglePage(blog_folder);
const similarPosts = similarItems(post, posts, similar_items_length);
const { Content } = await post.render();
const { title, description, date, tags } = post.data;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">
        <h1 set:html={markdownify(title)} class="h2 mb-4" />
        <ul class="mb-4">
          <li class="mr-8 inline-block">
            <FaRegClock className={"mr-1 -mt-1 inline-block"} />
            {dateFormat(date)}
          </li>
          <li class="mr-4 inline-block">
            <FaTag className={"mr-1 -mt-1 inline-block"} />
            {
              tags && tags.length > 0 && tags.map((tag: string, index: number) => (
                <a
                  class="m-1 rounded bg-theme-light px-3 py-1 hover:bg-primary hover:text-white dark:bg-darkmode-theme-light dark:hover:bg-darkmode-primary dark:hover:text-dark" 
                  href={`/tags/${slugify(tag)}`}
                  key={index}
                >
                  {humanize(tag)}
                </a>
              ))
            }
          </li>
        </ul>

        <div class="content mb-10">
          <Content />
        </div>

        <div class="row items-center justify-center">
          <div class="lg:col-4">
            <div class="flex items-center justify-center">
              <h5 class="mr-3">Share :</h5>
              <Share
                className="social-icons"
                title={title}
                description={description}
                slug={post.slug}
              />
            </div>
          </div>
        </div>

      </article>
    </div>

    <!-- Related posts -->
    <div class="section pb-0">
      <h2 class="h3 mb-12 text-center">Related Posts</h2>
      <div class="row justify-center">
        {
          similarPosts.map((post) => (
            <div class="sm:col-4">
              <BlogCard data={post} loading="lazy" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
