---
import config from "@/config/config.json";
import BlogCard from "@/components/BlogCard.astro";
import Share from "@/components/Share.astro";
import Disqus from "@/helpers/Disqus";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similarItems from "@/lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
import { FaRegClock, FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./components/ImageMod.astro";

const { blog_folder, similar_items_length } = config.settings;
const { post } = Astro.props;

const posts = await getSinglePage(blog_folder);
const similarPosts = similarItems(post, posts, similar_items_length);
const { Content } = await post.render();
const { title, description, image, date } = post.data;
---

<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">
        {
          image && (
            <div class="mb-10">
              <ImageMod
                src={image}
                height={500}
                width={1200}
                alt={title}
                class="w-full rounded"
                format="webp"
                loading="eager"
              />
            </div>
          )
        }
        <h1 set:html={markdownify(title)} class="h2 mb-4" />
        <ul class="mb-4">
          <li class="mr-8 inline-block">
            <FaRegClock className={"mr-1 -mt-1 inline-block"} />
            {dateFormat(date)}
          </li>
        </ul>

        <div class="content mb-10">
          <Content />
        </div>

        <div class="row items-center justify-center">
          <div class="lg:col-4">
            <div class="flex items-center justify-center">
              <h5 class="mr-3">Share :</h5>
              <Share
                className="social-icons"
                title={title}
                description={description}
                slug={post.slug}
              />
            </div>
          </div>
        </div>

        <Disqus className="mt-20" client:load />
      </article>
    </div>

    <!-- Related posts -->
    <div class="section pb-0">
      <h2 class="h3 mb-12 text-center">Related Posts</h2>
      <div class="row justify-center">
        {
          similarPosts.map((post) => (
            <div class="lg:col-4">
              <BlogCard data={post} loading="lazy" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
