---
import config from "@/config/config.json";
import Share from "@/components/Share.astro";
import BlogDetails from "@/components/BlogDetails.astro";
import ImageMod from "@/components/ImageMod.astro";
import TOC from "@/components/TOC.astro";
import GiscusComments from "@/components/GiscusComments.astro";
import RelatedPosts from "@/components/RelatedPosts.astro";
import PostActions from "@/components/PostActions.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import similarItems from "@/lib/utils/similarItems";
import { markdownify } from "@/lib/utils/textConverter";
import { categoryMetadata } from "@/lib/categoryMetadata";
import { humanize } from "@/lib/utils/textConverter";

const { blog_folder, similar_items_length } = config.settings;
const { post } = Astro.props;

const posts = await getSinglePage(blog_folder);
const similarPosts = similarItems(post, posts, similar_items_length);
const { Content, headings } = await post.render();
const { title, description, image, date, tags, category, slug } = post.data;

const metadata = categoryMetadata[category] || { name: humanize(category) };
---

<section class="section pt-7">
  <div class="container relative">
    <div class="row justify-center">
      <!-- TOC for large screens -->
      <div class="hidden lg:block lg:fixed lg:top-20 lg:right-0 lg:w-64 lg:h-full lg:overflow-y-auto lg:p-4 lg:bg-gray-100 lg:dark:bg-gray-800">
        <TOC headings={headings} />
      </div>

      <article class="lg:col-10">
        <h1 set:html={markdownify(title)} class="h2 mb-4" />

        <BlogDetails date={date} category={category} tags={tags} className="btn-primary" />

        {image && (
          <div class="mb-10">
            <ImageMod
              src={image}
              height={500}
              width={1200}
              alt={title}
              class="w-full rounded"
              format="webp"
              loading="eager"
            />
          </div>
        )}

        <!-- TOC for small screens -->
        <div class="block lg:hidden mb-10">
          <TOC headings={headings} />
        </div>

        <div class="content mb-10">
          <Content />
        </div>
      </article>

    </div>

    <PostActions title={title} description={description} slug={slug} />
    <GiscusComments />
    <RelatedPosts currentPost={post} />
  </div>
</section>
